# S-Web42 example config.rc

## Special PI variables

COMPRESS = gzip
IGNORE_MODTIME = 1
WWW = <strong class="_web" title="WEB!">&infin;</strong>&nbsp;

## Example navigation for interaction with example header/footer

NAVI_UP     = &uArr;
NAVI_FIRST  = &lArr;
NAVI_LAST   = &rArr;
NAVI_PREV   = &larr;
NAVI_NEXT   = &rarr;
NAVI_PTOP   = <a class="_top" href="#_top" title="Page-Top">&uarr;</a>

# <?PTOP_NAVI?> can then be used in between sections or whatever on
# a page to go to the top and bottom of the page (if desired)
PTOP_NAVI   = <div class="_topdown"><p><a class="_topdownmove" \
            href="#_top" title="Page-Top">&uarr;</a>&nbsp;&nbsp;\
            <a class="_topdownmove" href="#_bottom" \
            title="Page-Bottom">&darr;</a></p></div>

# Navigation menu for *header*
TOPMENU @= <?lreft disccopy.html<>Imprint/Disclaimer?>

# Navigation menu for *footer*
# *footer* unshifts this *last* BOTMENU @= <?NAVI_PTOP?>

## Contact information

AUTHOR         = Your Name
AUTHOR_AND_EMAIL     = Your Name &lt;YOUR@MAIL&gt;
AUTHOR_AND_EMAIL_RAW = Your Name, YOUR@MAIL
WEB            = YOUR-WEB-ADDRESS
MAIL           = YOUR@MAIL
COPY_DATE_SPEC = 1972 - 2014

## Don't touch the rest directly, use file-local assignments instead

#SCCSID         = I like original SCCS
#TITLE          = undef
#DESC           = undef
#KEYWORDS       = undef
#STYLE_INJECT   = undef
#SCRIPT_INJECT  = undef
#HEAD_INJECT    =

# vim:set fenc=utf-8 syntax=conf:s-it-mode
